In [1]:
import pandas as pd

df_sep = pd.read_csv("G:\\Geo Spartial Analysis\\tat_sep.csv")

In [ ]:
tat_df.shape

In [ ]:
for col in tat_df.columns:
    print(f'{col}: {tat_df[col].dtype}')

In [ ]:
import datetime

# Convert 'departure_time' to datetime
tat_df['Depature_Time'] = pd.to_datetime(tat_df['Depature_Time'], format='%H:%M:%S')

# Filter rows where departure time is past 6:00:00
past_tat_df = tat_df[tat_df['Depature_Time'].dt.time > pd.to_datetime('06:00:00', format='%H:%M:%S').time()]

# Filter rows where departure time is before 6:00:00
before_tat_df = tat_df[tat_df['Depature_Time'].dt.time < pd.to_datetime('06:00:00', format='%H:%M:%S').time()]

In [ ]:
past_tat_df.shape

In [ ]:
before_tat_df.shape

In [ ]:
# Specify the file path
file_path = r'G:\NEW\before_tat_data.csv'

# Export the DataFrame to a CSV file
before_tat_df.to_csv(file_path, index=False)

In [ ]:
# Specify the file path
file_path = r'G:\NEW\past_tat_data.csv'

# Export the DataFrame to a CSV file
past_tat_df.to_csv(file_path, index=False)

Clean 2nd dataset

In [ ]:
import pandas as pd

df_sep = pd.read_csv("G:\\Geo Spartial Analysis\\tat_sep.csv")

In [2]:
print(df_sep.head())

   Branch Trucknumber CAPACITY        Drivers Tripchart created  \
0  NAKURU    KDK 183Z      10T  Daniel Mugiri        09/01/2023
1  NAKURU    KCN 429Z      10T    Benard Rono        31/08/2023
2  NAKURU    KCF 048R      10T   James Ndungu        09/01/2023
3  NAKURU    KDH 305W      10T    Edwin Ngeno        09/01/2023
4  NAKURU    KCT 231T      10T    John Kimani        31/08/2023

  Trip chart No.              Route         Departure No. of customers  \
0          19064   NAKURU - MARALAL  09/01/2023 05:27                5
1          19043  NAKURU - NARUSURA  09/01/2023 05:52               30
2          19060   NAKURU - ELDORET  09/01/2023 06:00               14
3            NaN     NAKURU-KERICHO  09/01/2023 06:00               20
4          19056     NAKURU-KERICHO  09/01/2023 05:55               18

               Time     kms            Time.1     Kms Totak Kms   tonnage  \
0  09/01/2023 08:31  107.11  09/01/2023 20:18  331.96    491.19   8896.76
1  09/01/2023 08:12   72.06  09/02/2023 11:06  247.64    511.32       NaN
2  09/01/2023 07:24   39.89  09/02/2023 12:23  412.34     527.1   9197.94
3  09/01/2023 08:14   60.54  09/02/2023 15:13  455.51    603.85  10058.78
4  09/01/2023 07:15   39.75  09/01/2023 19:30  405.78    445.52    9706.4

            Arrival
0  09/01/2023 22:12
1  09/02/2023 17:43
2  09/02/2023 14:29
3  09/02/2023 19:55
4  09/02/2023 10:11

In [3]:
departure_dtype = df_sep['Departure'].dtype
print(departure_dtype)

object

In [4]:
def parse_custom_datetime(datetime_str):
    # Check if the string contains only date and hour:minute (without seconds)
    if datetime_str.count(':') == 1:
        datetime_str += ':00'  # Add seconds as '00' if missing
    
    # Use pd.to_datetime to parse the datetime string
    return pd.to_datetime(datetime_str, format='%m/%d/%Y %H:%M:%S', errors='coerce')

# Assuming your DataFrame is named df_sep
df_sep['Departure'] = df_sep['Departure'].astype(str)
df_sep['Departure'] = df_sep['Departure'].str.replace('20223', '2023').str.replace('20203', '2023')

# Apply the custom datetime parsing function to the 'Departure' column
df_sep['Departure'] = df_sep['Departure'].apply(parse_custom_datetime)

In [5]:
departure_dtype = df_sep['Departure'].dtype
print(departure_dtype)

datetime64[ns]

In [6]:
print(df_sep['Arrival'])

0       09/01/2023 22:12
1       09/02/2023 17:43
2       09/02/2023 14:29
3       09/02/2023 19:55
4       09/02/2023 10:11
              ...
1431      9/30/2023 9:35
1432     9/30/2023 13:43
1433     9/30/2023 15:32
1434     9/30/2023 17:32
1435     9/30/2023 18:30
Name: Arrival, Length: 1436, dtype: object

In [7]:
import pandas as pd


#boolean mask to identify rows with the value "System error"
mask = (df_sep == 'System error').any(axis=1)

#mask to filter the DataFrame and keep only rows without "System error"
df_sep = df_sep[~mask]

In [8]:
import pandas as pd

def parse_custom_datetime(datetime_str):
    # Check if the string contains only date and hour:minute (without seconds)
    if datetime_str.count(':') == 1:
        datetime_str += ':00'  # Add seconds as '00' if missing
    
    # Use pd.to_datetime to parse the datetime string
    return pd.to_datetime(datetime_str, format='%m/%d/%Y %H:%M:%S', errors='coerce')

# Assuming your DataFrame is named df_sep
df_sep['Arrival'] = df_sep['Arrival'].astype(str)
df_sep['Arrival'] = df_sep['Arrival'].str.replace('Market', '').replace('Pending', '').replace('PM', '')

# Apply the custom datetime parsing function to the 'Arrival' column
df_sep['Arrival'] = df_sep['Arrival'].apply(parse_custom_datetime)

In [9]:
departure_dtype = df_sep['Arrival'].dtype
print(departure_dtype)

datetime64[ns]

In [11]:
#10T,5T,14T,28T,Tuktuk,Van
#Clean the Capacity Column

In [12]:
print(df_sep['CAPACITY'])

0        10T
1        10T
2        10T
3        10T
4        10T
        ...
1431    0.5T
1432    0.5T
1433    0.5T
1434    0.5T
1435    0.5T
Name: CAPACITY, Length: 1434, dtype: object

In [13]:
unique_values = df_sep['CAPACITY'].unique()
print(unique_values)

['10T' '5T' '14T' '28T' '0.5T' '10 Tonner' '5 Tonner' '10TONER' '0.5TONER'
 '5TONER']

In [20]:
capacity_mapping = {
    '10 Tonner': '10T',
    '5 Tonner': '5T',
    '10TONER': '10T',
    '0.5TONER': '5T',
    '5TONER': '5T',
    '0.5T' :'5T'
}

# Use the replace method with the dictionary to update the 'CAPACITY' column
df_sep['CAPACITY'] = df_sep['CAPACITY'].replace(capacity_mapping)

In [21]:
unique_values = df_sep['CAPACITY'].unique()
print(unique_values)

['10T' '5T' '14T' '28T']

In [23]:
# Export the DataFrame to the CSV file
df_sep.to_csv("G:\\Geo Spartial Analysis\\date_tat_sep.csv", index=False)