In [1]:
import pandas as pd
df_tat = pd.read_csv("G:\\Geo Spartial Analysis\\TAT_Command_Centre(Aug & Sep).csv")

In [2]:
df_tat.head()

,Branch,Truck number,Vehicle Capacity,Drivers,Route,Depature,No. of customers,Time,Kms at 1st Drop,Time at 1st Drop,1st Drop to Last Drop Kms,Total Kms,Tonnage,Arrival,Time Take in MKT,Hours In Mkt
0,KISUMU,KDA 253R,10T,David Kiptoo,KISUMU-KAKAMEGA,01/08/2023 06:41,51,45139.32361,22.78,45140.68403,315.03,337.8,7245.6,02/08/2023 20:51,14:10,38.166667
1,KISUMU,KDL 077K,10T,Moses Oloo,BUSIA-MALABA,01/08/2023 06:53,29,45139.33472,124.74,45140.6875,1618.06,1742.8,7562.32,02/08/2023 17:02,10:09,34.150000
2,KISUMU,KCW 610E,10T,Patrick Otieno,SONDU-KAPSABET,01/08/2023 07:04,38,45139.32361,16.46,45140.61597,293.58,464.52,6311.9,02/08/2023 21:22,14:18,38.300000
3,KISUMU,KDB 209S,10T,David Kipkirui,KISUMUCBD,01/08/2023 08:03,31,45139.34792,6,45140.84583,96.88,105.02,8890.7,02/08/2023 20:52,12:49,36.816667
4,KISUMU,KDK 158N,10T,George Kinyua,SONDU-KAPSABET,02/08/2023 07:32,40,45140.36458,26.64,45142.81875,351.75,378.31,8955.9,04/08/2023 07:11,23:39,47.650000

In [3]:
df_tat.shape

(2675, 16)

In [4]:
unique_values = df_tat['Vehicle Capacity'].unique()
print(unique_values)

['10T' '5T' '14T' 'Tuktuk' '28T' 'Van']

In [5]:
import re
def check_formats_and_replace_tuktuk(truck_number, vehicle_capacity):
    # Check if the truck number matches the format "KTWC ###U"
    truck_number_regex = r'^KTWC \d{3}[A-Z]$'
    if re.match(truck_number_regex, truck_number):
        return True, "Tuktuk"

    # Check the truck number format.
    truck_number_regex = r'^[A-Z]{4}\s[0-9]{3}[A-Z]$'
    if not re.match(truck_number_regex, truck_number):
        return False, vehicle_capacity

    # Check the vehicle capacity format.
    vehicle_capacity_regex = r'^[0-9]+$'
    if re.match(vehicle_capacity_regex, vehicle_capacity):
        return True, vehicle_capacity
    elif vehicle_capacity == "Tuktuk":
        return True, "Tuktuk"
    else:
        return False, vehicle_capacity

# Apply the function to the DataFrame to create new columns
df_tat['TruckNumberIsValid'], df_tat['ReplacedVehicleCapacity'] = zip(*df_tat.apply(lambda row: check_formats_and_replace_tuktuk(row['Truck number'], row['Vehicle Capacity']), axis=1))
df_tat['Vehicle Capacity'] = df_tat[ 'ReplacedVehicleCapacity']
# Display the DataFrame to see the output
print(df_tat[['Truck number', 'Vehicle Capacity', 'TruckNumberIsValid', 'ReplacedVehicleCapacity']])

     Truck number Vehicle Capacity  TruckNumberIsValid ReplacedVehicleCapacity
0        KDA 253R              10T               False                     10T
1        KDL 077K              10T               False                     10T
2        KCW 610E              10T               False                     10T
3        KDB 209S              10T               False                     10T
4        KDK 158N              10T               False                     10T
...           ...              ...                 ...                     ...
2670    KTWC 173U           Tuktuk                True                  Tuktuk
2671    KTWC 173U           Tuktuk                True                  Tuktuk
2672    KTWC 173U           Tuktuk                True                  Tuktuk
2673    KTWC 173U           Tuktuk                True                  Tuktuk
2674    KTWC 173U           Tuktuk                True                  Tuktuk

[2675 rows x 4 columns]

In [6]:
unique_values = df_tat['Vehicle Capacity'].unique()
print(unique_values)

['10T' '5T' '14T' 'Tuktuk' '28T' 'Van']

In [7]:
# Drop specific columns
columns_to_drop = ['Truck number', 'Drivers', 'Time', 'Kms at 1st Drop', 'Time at 1st Drop', '1st Drop to Last Drop Kms', 'Arrival', 'Hours In Mkt', 'TruckNumberIsValid', 'ReplacedVehicleCapacity']
df_tat.drop(columns=columns_to_drop, inplace=True)

# Drop rows with any null values
df_tat.dropna(inplace=True)

In [8]:
df_tat.head()

,Branch,Vehicle Capacity,Route,Depature,No. of customers,Total Kms,Tonnage,Time Take in MKT
0,KISUMU,10T,KISUMU-KAKAMEGA,01/08/2023 06:41,51,337.8,7245.6,14:10
1,KISUMU,10T,BUSIA-MALABA,01/08/2023 06:53,29,1742.8,7562.32,10:09
2,KISUMU,10T,SONDU-KAPSABET,01/08/2023 07:04,38,464.52,6311.9,14:18
3,KISUMU,10T,KISUMUCBD,01/08/2023 08:03,31,105.02,8890.7,12:49
4,KISUMU,10T,SONDU-KAPSABET,02/08/2023 07:32,40,378.31,8955.9,23:39

In [9]:
print(df_tat.columns)

Index(['Branch', 'Vehicle Capacity', 'Route', 'Depature', 'No. of customers',
       'Total Kms', 'Tonnage', 'Time Take in MKT'],
      dtype='object')

In [12]:
# Create a list of the columns to one-hot encode
cols_to_one_hot_encode = ['Branch', 'Vehicle Capacity', 'Route']

# Perform one-hot encoding on the columns
df_tat = pd.get_dummies(df_tat, columns=cols_to_one_hot_encode)

# Print the DataFrame
print(df_tat.head())

   Depature  No. of customers  Total Kms  Tonnage  Time Take in MKT
0       NaN              51.0     337.80  7245.60               NaN
1       NaN              29.0    1742.80  7562.32               NaN
2       NaN              38.0     464.52  6311.90               NaN
3       NaN              31.0     105.02  8890.70               NaN
4       NaN              40.0     378.31  8955.90               NaN

In [13]:
# Convert all of the columns to numeric
df_tat = df_tat.apply(pd.to_numeric, errors='coerce')

# Calculate the correlation between the columns
corr = df_tat.corr()

# Print the correlation matrix
print(corr)

                  Depature  No. of customers  Total Kms   Tonnage  \
Depature               NaN               NaN        NaN       NaN
No. of customers       NaN          1.000000   0.033363  0.027776
Total Kms              NaN          0.033363   1.000000  0.003681
Tonnage                NaN          0.027776   0.003681  1.000000
Time Take in MKT       NaN               NaN        NaN       NaN

                  Time Take in MKT
Depature                       NaN
No. of customers               NaN
Total Kms                      NaN
Tonnage                        NaN
Time Take in MKT               NaN

In [ ]:
import matplotlib.pyplot as plt


plt.scatter(df_tat['Tonnage'], df_tat['Total Kms'])

# Label the axes
plt.xlabel('Tonnage')
plt.ylabel('Total Kms')

# Show the plot
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Perform one-hot encoding for 'Branch' and 'Route'
df_tat = pd.get_dummies(df_tat, columns=['Branch', 'Route'], drop_first=True)

# Perform label encoding for 'Vehicle Capacity'
vehicle_capacity_mapping = {
    'Tuktuk': 0,
    'Van': 1,
    '10T': 2,
    '5T':3,
    '14T':4,
    '28T':5
}

df_tat['Vehicle Capacity'] = df_tat['Vehicle Capacity'].map(vehicle_capacity_mapping)

# Now, you can proceed with your multiple linear regression analysis

# Split the data into training and test sets.
X_train, X_test, y_train, y_test = train_test_split(
    df_tat[['Vehicle Capacity', 'Branch', 'Route']],  # Include the encoded columns
    df_tat[['No. of customers', 'Time Take in MKT', 'Depature']],
    test_size=0.25
)

# Create and fit the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Perform predictions
y_pred = model.predict(X_test)

In [ ]:
print(df_tat.columns)